@model IEnumerable<Houseplant>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach (var item in Model)
{
<div>
    <p>@item.Name</p>
    <p>@item.NameLatin</p>
    <p>@item.BuyDate</p>
    <p>@item.LastPlantDate</p>
    <p>@item.PlaceName</p>
    <p>@item.IrrigationDescription</p>
    <p>@item.Fertigation</p>
</div>
}